.container {
    display: flex;
    align-items: center;
    flex-direction: column;  
}
form {
    margin: 35px;
}

form label {
    display: inline;
    text-align: center;
    font-size: 1.3em;
    padding: 1em;
}

#sendbutton {
    background: #00a293;
    color: white;
    border: tomato;
    border-radius: 10%;
    font-size: 1em;
}
#sendbutton:hover {
    background: #00a293;
    font-weight: bolder;
}